html {
    scroll-behavior: smooth;
    background-color: #22223b;
    font-family: Arial, Helvetica, sans-serif; color: #f2e9e4;
    accent-color: #c9ada7;
}

img#Rish {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p#social {
    text-align: center;
    font-size: 18px;
    color: #f2e9e4;
}

pre.footer[id="0000"] {
    text-align: center;
    font-size: 18px;
    color: #f2e9e4  ;
    margin-top: 20px;
}
pre.footer[id="0002"] {
    text-align: center;
    font-size: 18px;
    color: #f2e9e4  ;
    margin-top: 20px;
}
pre.footer[id="0001"] {
    text-align: center;
    font-size: 18px;
    color: #f2e9e4  ;
    margin-top: 20px;
}